<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetCore.NPOI" version="1.2.1" targetFramework="net461" />
  <package id="DotNetCore.NPOI.Core" version="1.2.1" targetFramework="net461" />
  <package id="DotNetCore.NPOI.OpenXml4Net" version="1.2.1" targetFramework="net461" />
  <package id="DotNetCore.NPOI.OpenXmlFormats" version="1.2.1" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net461" />
</packages>